In [1]:
from Functions._analyzeData import *
from Functions._editDatabase import getTransactionData, getAccount
from Functions._Classes import Account

In [2]:
myAcc = getAccount("atlas")

myAcc.user_id = 'e027f909-4eba-49d3-a982-4d2691e5d51d'

In [3]:
df = getTransactionData(myAcc)

df

,TRANSACTION_ID,USER_ID,ITEM,TYPE,CATEGORY,VALUE,CREATED_AT,UPDATED_AT
0,087af57e-4152-4a9c-a9c5-7e0c7f1ea73c,e027f909-4eba-49d3-a982-4d2691e5d51d,Soda Lemon,0,0,10000,2011-09-14 15:03:05,2011-09-14 15:03:05
1,94e2dcf5-4350-426d-a2f9-1579decf4109,e027f909-4eba-49d3-a982-4d2691e5d51d,Menghadiri Festival Budaya,2,0,50000,2015-05-25 10:32:20,2015-05-25 10:32:20
2,a29edd06-f9d0-4c25-a225-0cc2df4da8fe,e027f909-4eba-49d3-a982-4d2691e5d51d,Pindang Patin,0,0,25000,2014-05-13 11:25:59,2014-05-13 11:25:59
3,1d3474c4-3df3-485b-9b8b-12c99c5709d1,e027f909-4eba-49d3-a982-4d2691e5d51d,Kereta Api,1,0,20000,2015-04-11 01:27:09,2015-04-11 01:27:09
4,b0afdf83-9d31-4093-a3fa-0e494e2ffff8,e027f909-4eba-49d3-a982-4d2691e5d51d,Kopi Tubruk,0,0,10000,2015-05-03 04:27:33,2015-05-03 04:27:33
...,...,...,...,...,...,...,...,...
70115,ec206b57-496f-44cf-aac5-76a39d63c714,e027f909-4eba-49d3-a982-4d2691e5d51d,Nasi Gudeg,0,0,20000,2009-06-04 09:39:55,2009-06-04 09:39:55
70116,ae7766b8-a463-4793-a16b-823904bbb436,e027f909-4eba-49d3-a982-4d2691e5d51d,Becak,1,0,10000,2015-11-26 11:30:14,2015-11-26 11:30:14
70117,c2071fe9-35a0-4f5f-8253-b642aede6107,e027f909-4eba-49d3-a982-4d2691e5d51d,Es Krim,0,0,10000,2011-06-01 22:46:16,2011-06-01 22:46:16
70118,53899491-6ca0-485e-a1b4-f7da7351d023,e027f909-4eba-49d3-a982-4d2691e5d51d,Sop Buntut,0,0,40000,2004-02-09 09:16:06,2004-02-09 09:16:06
70119,15e30217-78d2-48f8-b98c-8e12276e074d,e027f909-4eba-49d3-a982-4d2691e5d51d,Mengunjungi Kebun Binatang,2,0,50000,2004-04-05 18:02:15,2004-04-05 18:02:15

In [4]:
getTimeCycle(df, "DAY")

,ITEM,TYPE,CATEGORY,VALUE
CREATED_AT,,,,
2000-01-01,Mie KocokMRTSoto MaduraAir PutihEs Susu Kedela...,3,0,134000
2000-01-02,Opor AyamMengikuti Kegiatan KomunitasLontong S...,4,0,144000
2000-01-03,Bubur AyamBebek GorengIkan PepesNasi GudegRuja...,0,0,145000
2000-01-04,Tumis KangkungEs ManggaBeli ObatTeh RosellaTak...,6,0,357000
2000-01-05,Teh HitamGulai KambingKopi GayoKopi GayoMengik...,4,0,260000
...,...,...,...,...
2023-12-26,Beli ObatRujak CingurKerak TelorPepes TahuBir ...,6,0,314000
2023-12-27,Jus PepayaEs BlewahMendaki GunungMie Tek-TekJu...,2,0,171000
2023-12-28,SerabiAir JaheKereta ApiNasi KuningAir KelapaE...,1,0,170000
2023-12-29,Es Kopi SusuEs PepayaSoto BetawiNasi Brongkos,0,0,67000
2023-12-30,Jus ManggaEs Lidah BuayaEs Sarang BurungEs Man...,2,0,217000